BOT_TOKEN=
MOD_ROLE_ID=
# for logging in private channel what only admins should see (e.g. logging deleted messages)
LOG_CHANNEL_ID=
# for public things (e.g. user being banned for misbehaving)
DARWIN_CHANNEL_ID=
# words that will be auto-deleted they are split up using "," (e.g. "badword,badword2,badword3")
BANNED_WORDS=
# words that will be EXCLUDED from being auto-deleted they are split up using "," (e.g. "badword,badword2,badword3")
WHITELISTED_WORDS=
# choose an amount banned words will be replicated for (e.g. ["badword", "badwordbadword"]), if unsure keep default (10)
REPLICATE_AMOUNT=10
# change root level here (default=info), change it to debug if you need more info (warning spammy)
ROOT_LOG_LEVEL=info
# change which docker image tag to use (should be kept latest if unsure) [intended for host/production]
IMAGE_TAG=latest
