BOT_TOKEN=
# Choose a strong password which you can use to access the mysql DB with
MYSQL_ROOT_PASSWORD=
# You can choose any name (default=rembot)
MYSQL_DATABASE=rembot
# Change to your timezone (MySQL needs this for correct time): https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Etc/GMT
MOD_ROLE_ID=
ANTI_SPAM_WORDS_AMOUNT=5
# The amount of time within how many messages may be send e.g. if "ANTI_SPAM_WORDS" is set to 5 and "ANTI_SPAM_TIME"
# is set to 2 = if 5 messages are send in a timer interval of 2 seconds it is considered spam (2.5 messages/s)
ANTI_SPAM_TIME_AMOUNT=2
# The amount of minutes for mute if someone spams
ANTI_SPAM_MUTE_AMOUNT=10
# The amount of strikes a user is allowed to get before being banned for spamming
ANTI_SPAM_WARNING_AMOUNT=3
# for logging in private channel what only admins should see (e.g. logging deleted messages)
LOG_CHANNEL_ID=
# for public things (e.g. user being banned for misbehaving)
DARWIN_CHANNEL_ID=
# words that will be auto-deleted they are split up using "," (e.g. "badword,badword2,badword3")
BANNED_WORDS=
# words that will be EXCLUDED from being auto-deleted they are split up using "," (e.g. "badword,badword2,badword3")
WHITELISTED_WORDS=
# choose an amount banned words will be replicated for (e.g. ["badword", "badwordbadword"]), if unsure keep default (10)
REPLICATE_AMOUNT=10
# change root level here (default=info), change it to debug if you need more info (warning spammy)
ROOT_LOG_LEVEL=info
# change which docker image tag to use (should be kept latest if unsure) [intended for host/production]
IMAGE_TAG=latest
