# Auto detect text files and perform LF normalization
* text=auto
#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# https://github.com/spring-projects/spring-security/issues/10039
# Ensure that line endings for DOS batch files are not modified.
*.bat -text

# Binary files should be left untouched
*.jar           binary

